//BUTTONS TAB
.button {
    -fx-background-color:   #e7e7e7;
    -fx-text-fill: black;
    -fx-text-alignment: left;
}

.button:hover {
    -fx-background-color:  #b8b8b8;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color:  #b8b8b8;
    -fx-text-fill: black;
}

.button:focused {
    -fx-background-color: #b8b8b8;
    -fx-text-fill: black;
}


//BUTTONS Square
.button2 {
    -fx-background-color:   transparent;
}

.button2:hover {
    -fx-background-color: rgba(0,0,0,0.1);
}
.button2:focused {
    -fx-background-color: rgba(0,0,0,0.1);
}

//List name text field
.textField {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	
}
.textField: hover {
	-fx-background-color: rgba(0,0,0,0.1);
    -fx-text-fill: white;
}

.textField: pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #e9e8f6;
}
.textField: focused{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-text-fill: #e9e8f6;
}


//entry text field
.textField2 {
	-fx-background-color: #4d43ad;
	-fx-text-fill: white;
	
}
.textField2: hover {
	-fx-background-color: #675dbf;
    -fx-text-fill: white;
}

.textField2: pressed {
    -fx-background-color: #675dbf;
    -fx-text-fill: #e9e8f6;
}
.textField2: focused{
    -fx-background-color: #675dbf;
    -fx-text-fill: #e9e8f6;
}

//datePicker
.date-picker {
	-fx-primary-color:  #4d43ad;
	-fx-secondary-color: #675dbf;
	-fx-light-grey-color: transparent;
	-fx-focus-color: -fx-secondary-color;
	-fx-background-color: transparent;
}
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #948ece;
}
.date-picker .cell:focused {
	-fx-background-color: #948ece;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: black
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: black;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -fx-primary-color
}

//button3
.button3 {
    -fx-background-color:   #f5f4f2;
}

.button3:hover {
    -fx-background-color:  #e9e6e2;
}
.button3:focused {
    -fx-background-color: #e9e6e2;
}